.modal {
  display: block;
}
.backgr {
  opacity: 0.2;
}
.modal.in {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-preview img {
  height: 300px;
  width: 300px;
}

#submit-id {
  text-align: center;
}
