<form [formGroup]="editForm" (ngSubmit)="save(editForm.value)">
  <div class="modal fade in" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <label for="title">Title</label>
          <input formControlName="title" class="form-control" type="text" id="title" />
          <br/><br/>

          <label for="image">Image</label>
          <input class="form-control" (change)="setFile($event)" type="file" id="image" />
          <br/><br/>

          <label for="description">Description</label>
          <input formControlName="description" class="form-control" type="text" id="description"  />
          <br/><br/>

          <label for="publish_date">Publish date</label>
          <input class="form-control" type="date" id="publish_date" formControlName="publish_date" />
          <br/><br/>

          <div id="submit-id">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="modal-backdrop fade in backgr"></div>
