<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar add-btn">
      <a class="btn btn-warning" routerLink="/main/add">Add Article</a>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Dashboard</h1>

      <h2 class="sub-header">Section title</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Image</th>
            <th>Publish date</th>
            <th>Description</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let article of articles">
            <td>{{article._id}}</td>
            <td>{{article.title}}</td>
            <td><img id="table-image" [src]="host + article.image"></td>
            <td>{{article.publish_date}}</td>
            <td>{{article.description}}</td>
            <td><a class="btn btn-warning" (click)="editArticle(article._id)">Edit</a></td>
            <td><button class="btn trash-btn" (click)="removeArticle(article._id)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
